@page
@model FoodDelivery.FE.Pages.Payment.Cancel

@{
  ViewData["Title"] = "Checkout cancelled";
}

<section>
  <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
</section>
