@page
@model FoodDelivery.FE.Pages.Payment.Checkout

@{
  ViewData["Title"] = "Checkout";
}

<form method="post">
  @* TODO *@
  @* @Html.DropDownListFor(() => Model.PaymentMethod, Model.PaymentMethods, new { @class = "form-control" }) *@
  <button type="submit" class="btn btn-primary">Submit order</button>
</form>
