@page
@model Checkout

@{
  ViewData["Title"] = "Checkout";
}

@* TODO remove *@
@* @section Styles { *@
@* <link href="@Url.Content("~/css/Checkout.css")" rel="stylesheet" type="text/css"/> *@
@* } *@

@* TODO Later something like: for each product in user's cart show that product and quantity  *@
<h1>Your products:</h1>
<ul>
  @foreach (var product in Model.ProductsInBasket)
  {
    <li>
      <p>@product.Name</p>
      <p>@product.Price.Amount @product.Price.Currency.Name</p>
    </li>
  }
</ul>

<form method="post">
  <button type="submit" id="checkout-button">Checkout</button>
</form>
