@page
@model Checkout

@{
  ViewData["Title"] = "Checkout";
}

@if (!Model.ProductsInBasket.Any())
{
  <div class="alert alert-info" role="alert">
    You don't have any products in your basket.
  </div>
}
else
{
  @await Html.PartialAsync("_ProductsPartial", Model.ProductsInBasket)

  <form method="post">
    <button type="submit" class="btn btn-primary" id="checkout-button">Checkout</button>
  </form>
}
