@page
@model Success

@{
  ViewData["Title"] = "Thank you for your order!";
}

<div class="alert alert-success" role="alert">
  Thank you for your order! If you have any questions, please email
  <a href="mailto:orders@fooddelivery.com">orders@fooddelivery.com</a>.
</div>
