@page
@model AddRestaurantModel
@{
}
<form method="post">
    <p>Name:</p>
    <input type="text" asp-for="Restaurant.Name" />
    <p>DeliveryPriceId:</p>
    <input type="text" asp-for="Restaurant.DeliveryPriceId" />

    <button type="submit">Add</button>
</form>
