@page
@model EditAccount

@* @{ *@
@*   ViewData["Title"] = "Edit Account"; *@
@* } *@
@* @Model. *@
@* <form method="post"> *@
@*   <p></p> *@
@*   $1$ <p>@product.Price.Amount @product.Price.Currency.Name</p> #1# *@
@*   $1$ <input type="hidden" name="id" value="@product.Id"> #1# *@
@*   $1$ <input type="submit" value="Add to cart"/> #1# *@
@* </form> *@
